[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

Django = "*"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2" = "*"
ipython = "*"
django-cors-headers = "*"
pytest = "*"
django-webpack-loader = "*"
requests = "*"
Saturn = "*"
rdflib = "*"
untangle = "*"
requests-html = "*"
pymarc = "*"


[dev-packages]

